.wrapper {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding-top: 2.75rem;
  border-top: 1px solid #ddd;
  color: var(--black);
}
.image {
  border-radius: 75% 100% 75% 100%;
  padding: 1rem;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.name {
  font-size: 1.25rem;
}

.bio {
  font-size: 1rem;
  color: #666;
}

@media screen and (max-width: 670px) {
  .wrapper {
    flex-direction: column;
  }
}
