.section {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.img {
  width: 70%;
  margin: 0 4rem 0 0;
  background-color: rgba(0, 0, 0, 0.034);
}

.text {
  width: 30%;
  margin: 0 0 0 4rem;
}

.title {
  font-size: 4.8rem;
}
.body {
  font-size: 3rem;
}

.btn {
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
}
