:root, body {
    --black: #0A1714;
    --white: #FCFBF9;
    --primaryColor: #F4D570;
    --secondaryColor: #70F4D5;

    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;

    background-color: var(--white);;
}

a {
    color: var(--black);
    text-decoration: none; 
  }
